.cup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    border: 1px solid #e8e8e8;
    padding: 25px 80px;
    border-radius: 10px;
}

.cup__btn-group {
    display: flex;
    justify-content: center;
}