.table {
    color: #5D6D97 !important;
    background: white;
    border-radius: 5px;
}

.table thead {
    background: var(--main-background);
}

.table thead th {
    border: 0;
    text-transform: uppercase;
    line-height: 16px;
    opacity: 0.4;
    vertical-align: middle !important;
}

.table tr {
    border-bottom: 0.5px solid rgba(93, 110, 151, 0.4) !important;
}

.table td {
    vertical-align: middle !important;
}

.table__th_actions {
    width: 125px;
}